<body>
<p>
<div class="row">
<div class="col-md-12 col-left-offset-3">

<div class="center jumbotron "> 
<p>
    <h1 style="font-weight: bold">Wyniki </h1>
    <h1>wyszukiwania</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th> Nazwa</th>
      <th> Kategoria</th>
      <th> Liczba sztuk</th>
      <th> Cena zł</th>
      <th>Szczegóły</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each.with_index(1) do |result, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= result.name %></td>
        <td><%= result.category %></td>
        <td><%= result.quantity %></td>
        <td><%= result.price %></td>
        <td><%= link_to "Wyświetl", product_path(result.id)%></td>
      </tr>
    <% end %>
  </tbody>
</p>
<body>